html {
  box-sizing: border-box;
}
*,
*::before *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Hind Siliguri", sans-serif;
}

.container {
  max-width: 1110px;
  margin-right: 165px;
  margin-left: 165px;
}
.header {
  padding-top: 57px;
  padding-bottom: 106px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

.header-menu-link {
  text-align: left;
  font-size: 18px;
  color: #0f241d;
  text-decoration: none;
}
.header-btn {
  padding: 15px 18px;
  color: #ff7235;
  font-size: 18px;
  line-height: 95%;
  text-align: left;
  text-decoration: none;
  border: 1px solid #ff7235;
  background-color: white;
  border-radius: 8px;
}

.hero {
  padding-bottom: 210px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.hero-left{
  width: 50%;
}
.hero-title {
  margin: 0;
  width: 540px;
  height: 288px;
  font-size: 96px;
  line-height: 96px;
  margin-bottom: 20px;
}
.hero-desc {
  color: #bdbdbd;
  width: 540px;
  margin-bottom: 40px;
  font-size: 24px;
}

.hero-bottom {
  display: flex;
  gap: 24px;
}
.hero-btn {
  position: relative;
  padding: 18px 58px 18px 24px;
  color: #fff;
  text-align: left;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: #ff7235;
  border-radius: 8px;
}

.hero-btn::before {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  left: 190px;
  gap: 10px;
  width: 24px;
  height: 24px;
  background-image: url("../images/dropdown.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-devices {
  font-size: 24px;
  color: #bdbdbd;
}
.hero-right{
  width: 50%;
}
.hero-img {
  margin: 0;
  width: 540px;
  height: 480px;
  margin-right: 30px;
}

.overview-top {
  background-color: #ff7235;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0 20px;
  margin: 0 auto;
}

.overview-link {
  max-width: 100%;
  height: auto;
  align-items: center;
}
.overview-bottom {
  padding-top: 82px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  gap: 108px;
}
